@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: hsl(222.2 84% 4.9%);
  background: hsl(210 40% 98%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: hsl(210 40% 98%);
}
